In [ ]:
#syntax for print function
print('hello world')

hello world

In [ ]:
#syntax for separator parameter of print function
print('hello',' how are you',sep=',')

hello, how are you

In [ ]:
#syntax for end parameter of print function
print('My name is UB',end="!")
print('What is your name?')

My name is UB!What is your name?

In [ ]:
#Variable
name = 'Miss Bhat' #String
print(name)

Miss Bhat

In [ ]:
n_1 = 5
n_2 = 10
sum = n_1 + n_2
print('Sum of',n_1,'and',n_2,'is',sum)

Sum of 5 and 10 is 15

In [ ]:
#Operators in Python
#Arithmatic, Logical, Comparison, Assignment (Operators)

In [ ]:
#Arithmatic Operators
#Division, Multiplication, Subtraction, Addition, Modulus
num_1 = 5
num_2 = 10
#Division
div = num_2/num_1
print('The quotient is',div)
#Floored Divison
floor_div = num_2//num_1
print('The quotient (as an integer) is',floor_div)
#Modulus
rem = num_1%num_2
print('The remainder is',rem)
#Multiplication
product = num_1 * num_2
print('The product is',product)
#Subtraction
diff = num_2 - num_2
print('The difference is',diff)
#Addition
sum = num_1 + num_2
print('The sum is',sum)

The quotient is 2.0
The quotient (as an integer) is 2
The remainder is 5
The product is 50
The difference is 0
The sum is 15

In [ ]:
#Comparison Operators
#The list of the operators:
# equal to equal to (==)
# not equal to (!=)
# greater than (>)
# greater than or equal to (>=)
# less than (<)
# less than or equal to (<=)
x = 5
y = 5

# equal to equal to (==)
print(x==y)

# not equal to (!=)
print(x!=y)

# greater than or equal to (>=)
print(x>=y)

# greater than (>)
print(x>y)

# less than or equal to (<=)
print(x<=y)

# less than (<)
print(x<y)

#Boolean Data Type Answer: (True=1) and (False=0)

True
False
True
False
True
False

In [ ]:
#Logical Operators
#Logical AND (and)
#Logical OR (or)
#Logical NOT (not)

m=True
n=False

#Logical AND (and)

print('logical AND')
print(m and n)
print(m and m)
print(n and n)
print(n and m)

print()

#Logical OR (or)

print('logical OR')
print(m or n)
print(m or m)
print(n or n)
print(n or m)

print()

#Logical NOT (not)

print('logical NOT')
print(not m)
print(not n)

#Random Operations
#True=1 and False=0
print()
print('Some random operations')
print(m+n)
print(m-n)
print(m*m)

logical AND
False
True
False
False

logical OR
True
True
False
True

logical NOT
False
True

Some random operations
1
1
1

In [ ]:
#Assignment Operators (also includes shorthand assignment operators)
#Assignment (=)
x=1
#Addition Assignment Operator (+=)
x+=1 # x=x+1
print(x)
#Subtraction Assignment Operator (-=)
x-=1 # x=x-1
print(x)
#Multiplication Assignment Operator (*=)
x*=1 # x=x*1
print(x)
#Divsion Assignment Operator (/=)
x/=1 # x=x/1
print(x)

2
1
1
1.0

Conditional Statements

In [ ]:
'''
1. if statement

Syntax:

if condition_is_true:
  print(statement)

if condition_is_false:
  continue from next line of code ignoring the print statement

2. elif statement

Syntax:

if condition_is_false:
  continue from next line of code ignoring the print statement

elif condition_is_true:
  print(statement)

3. else statement

Syntax:

if condition_is_false:
  continue from next line of code ignoring the print statement

elif condition_is_false:
    continue from next line of code ignoring the print statement

else:
  print(statement)

'''

'\n1. if statement\n\nSyntax:\n\nif condition_is_true:\n  print(statement)\n\nif condition_is_false:\n  continue from next line of code ignoring the print statement\n\n2. \n'

In [ ]:
rain=int(input('Is it ranining? (Enter 1 for True/0 for False)'))
if rain==1:
  print('Take umbrella')

Is it ranining? (Enter 1 for True/0 for False)1
Take umbrella

In [ ]:
is_admin = True
if is_admin:
  print('Access Granted')

else:
  print('Access Denied')

Access Granted

In [ ]:
score = int(input('Enter your score (out of 100): '))
if score>=90:
  print('A')

elif score>=70:
  print('B')

elif score>=50:
  print('C')

else:
  print('Better Luck Next Time')

Enter your score (out of 100): 96
A

In [ ]:
hour = int(input('Enter the hour(in 24-hour format): '))
if hour<12:
  print('Good morning!')

elif hour<18 and hour>12:
  print('Good afternoon!')

elif hour<21 and hour>18:
  print('Good evening!')

else:
  print('Good night!')

Enter the hour(in 24-hour format): 15
Good afternoon!

In [ ]:
#Expected password is 123456
'''
#Amatuer method
password = int(input('Enter your password: '))
if password==123456:
  print('Access Granted')

else:
  print('No Access')
'''

#Pro Method
expected=123456
password = int(input('Enter your password: '))
if password==expected:
    print('Access Granted')

else:
  print('No Access')

Enter your password: 123456
Access Granted

In [ ]:
#Data Types
'''
1) Boolean
2) Number
3) String
4) List
5) Dictionary
'''

'\n1) Boolean\n2) Number\n3) String\n4) List\n5) Dictionary\n'

In [ ]:
#Boolean
a=True
print(type(a))

<class 'bool'>

In [ ]:
#Number
a=5
b=9.8
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
#List
L=['peach','guava','apple','lychee','pear']
print(L[2][:3])

app

In [ ]:
#String
z = 'hello'
y = "amazing"
print(type(z))
print(type(y))

<class 'str'>
<class 'str'>

In [ ]:
#Dictionaries: Used to store collection of data in key-value pairs
D = {'Name':'Rose','Age':18}
print(D)
print(list(D.values()))
print(list(D.keys()))
print(list(D.items()))

{'Name': 'Rose', 'Age': 18}
['Rose', 18]
['Name', 'Age']
[('Name', 'Rose'), ('Age', 18)]

In [ ]:
#Length of Dictionary
length = len(D)
print(length)

#Updating the Dictionary: The keys of new dictionary should match with original dictionary
D1 = {'Name':'Elsa','Age':20}
D.update(D1)
print(D)

#Updating the Dictionary using keys
D['Name'] = 'Sasha'
D['Age'] = 21
print(D)

2
{'Name': 'Elsa', 'Age': 20}
{'Name': 'Sasha', 'Age': 21}

In [ ]:
#Program to find whether a number is odd, even or zero
n = int(input('Enter the number: '))
if n==0:
  print('Number/Value is zero')
elif n%2==0:
  print('Number is even')
else:
  print('Number is odd')

Enter the number: 222
Number is even

In [ ]:
#Marks of the student
marks = int(input('Enter yours marks: '))
if marks>80:
  print('Grade A')
elif marks>50:
  print('Grade B')
else:
  print('Better Luck Next Time')

Enter yours marks: 99
Grade A

In [ ]:
#Employee Dedication
years_worked = int(input('Enter the number of years that you have worked for: '))
salary = float(input('Enter current salary: '))
if years_worked>5:
  print('You received a 5% bonus, so your new salary is ',((0.05*salary)+salary))
else:
  print('No bonus, so your salary is',salary)

Enter the number of years that you have worked for: 7
Enter current salary: 150000
You received a 5% bonus, so your new salary is  157500.0

In [ ]:
#Electricity Units
units = int(input('Enter the units consumed: '))
if units<100:
  print('No extra charge')
elif units<200:
  print('Charge is 5/- per unit, so total charge is',((units-100)*5))
else:
  print('Charge is 10/- per unit, so total charge is',((units-200)*10))

Enter the units consumed: 202
Charge is 10/- per unit, so total charge is 20

In [ ]:
#Check if the character consists of vowels or consonants
cha = input('Enter the character: ')
vowels = 'aeiou'
if cha.lower() in vowels:
  print('Vowel')
else:
  print('Consonant')

Enter the character: I
Vowel

In [ ]:
#BMI Calculator; BMI=weight(kg)/height(m^2)
weight = float(input('Enter weight(in kg): '))
height = float(input('Enter height(in m): '))
bmi = weight/((height)**2)
print(bmi)
if bmi<18.5:
  print('You are underweight')
elif bmi>=18.5 and bmi<24.9:
  print('You are in the normal weight range')
elif bmi>=24.9 and bmi<29.9:
  print('You are overweight')
else:
  print("You are obese")

Enter weight(in kg): 54
Enter height(in m): 1.64
20.077334919690664
You are in the normal weight range

In [ ]:
# User Authentication
db = {'user1': '123456', 'user2': '123@abc', 'user3': '654321'}
username = input('Enter username: ')

if username in db.keys():
    password = input('Enter password: ')

    if password == db[username]:
        print('Access Granted')
        print('Welcome', username)
    else:
        print('Access Denied. Incorrect password.')
else:
    print('Try different username')

Enter username: user1
Enter password: 123456
Access Granted
Welcome user1

In [ ]:
#Temperature Converter
#From celsius to farenheit formula: f=(c*(9/5)) + 32
#From farenheit to celsius formula: c=(f-32)*(5/9)
print('1 for celsius to farenheit')
print('2 for farenheit to celsius')
conversion_type = int(input('Enter 1 or 2: '))
if conversion_type == 1:
  celsius = float(input('Enter value in celsius: '))
  farenheit = (celsius * 9/5) + 32
  print('celsius',celsius,'farenheit',farenheit)

elif conversion_type == 2:
  farenheit = float(input('Enter value in celsius: '))
  celsius = (farenheit-32)*5/9
  print('farenheit',farenheit,'celsius',celsius)

else:
  print('Enter correct choice')

1 for celsius to farenheit
2 for farenheit to celsius
Enter 1 or 2: 1
Enter value in celsius: 0
celsius 0.0 farenheit 32.0

In [ ]:
#Print numbers from 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Print numbers from 11 to 20
for i in range(11,21):
  print(i)

11
12
13
14
15
16
17
18
19
20

In [ ]:
#Print numbers from 20 to 1
for i in range(20,0,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#Print numbers from 100 to 10 with step size 10
for i in range(100,1,-10):
  print(i)

100
90
80
70
60
50
40
30
20
10

In [ ]:
#Print numbers from 100 to 50 s.t only numbers divisible by 7 are in view
for i in range(100,51,-1):
  if i%7==0:
    print(i)

98
91
84
77
70
63
56

In [ ]:
#Print numbers from 100 to 50 s.t numbers divisible by 5 are not in view
for i in range(100,55,-1):
  if i%5!=0:
    print(i)

99
98
97
96
94
93
92
91
89
88
87
86
84
83
82
81
79
78
77
76
74
73
72
71
69
68
67
66
64
63
62
61
59
58
57
56

In [ ]:
#Sum of numbers from 1 to 10
sum = 0
for i in range(1,11):
  sum+=i

print(sum)

55

In [ ]:
#Print the multiples of 7 until 70
for i in range(7,71):
  if i%7==0:
    print(i)

7
14
21
28
35
42
49
56
63
70

In [ ]:
#Print the multiples of 9 until 100
for i in range(9,100):
  if i%9==0:
    print(i)

9
18
27
36
45
54
63
72
81
90
99

In [ ]:
#Print * Pattern
def star():
  for i in range(5):
    print('*', end='')

star()
print()
print('hello')
star()
print()
print('access granted')
star()

*****
hello
*****
access granted
*****

In [ ]:
#Print * using nested for loops
n=5
for i in range(n):
  for j in range(n):
    print('*', end='')
  print('\n')

for i in range(n):
  print('*'*5)

*****

*****

*****

*****

*****

*****
*****
*****
*****
*****

In [ ]:
for i in range(6):
  print('*'*i)

*
**
***
****
*****

In [ ]:
#Doing the same (as above) using nested for loop
n=5
for i in range(n): #Depends on rows
  for j in range(i+1): #Depends on columns
    print('*',end='')
  print()

*
**
***
****
*****

In [ ]:
#Print the pattern
n=5
for i in range(n):
  for j in range(i+1):
    print('*',end='')
  print()

*
**
***
****
*****

In [ ]:
n=6
for rows in range(n-1,0,-1):
  for columns in range(rows):
    print('*',end='')
  print()

*****
****
***
**
*

In [ ]:
n = 6
for rows in range(1,n):
  print(' ' * (n-rows), end='')
  print(' *' * rows)

      *
     * *
    * * *
   * * * *
  * * * * *

In [ ]:
n = 5
for rows in range(n,0,-1):
  print(' ' * (n-rows), end='')
  print(' *' * rows)

 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
n = 5
for rows in range(1,n):
  print(' '*(n-rows),end='')
  print(' *'*rows)
for rows in range(n,0,-1):
  print(' ' * (n-rows), end='')
  print(' *' * rows)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
for rows in range(1,6):
  for columns in range(1,rows+1):
    print(columns, end='')
  print()

1
12
123
1234
12345

In [ ]:
for rows in range(1,6):
  for columns in range(1,rows+1):
    print(rows,end='')
  print()

1
22
333
4444
55555

In [ ]:
for rows in range(5,0,-1):
  for columns in range(1,rows+1):
    print(columns, end='')
  print()

12345
1234
123
12
1

In [ ]:
for rows in range(5,0,-1):
  for columns in range(1,rows+1):
    print(rows,end='')
  print()

55555
4444
333
22
1

In [ ]:
for rows in range(1,5):
  for columns in range(1,rows+1):
    print(columns, end='')
  print()
for rows in range(5,0,-1):
  for columns in range(1,rows+1):
    print(columns, end='')
  print()

1
12
123
1234
12345
1234
123
12
1

In [ ]:
#Sum of list using loop
L=[0,1,2,6,7,8,0,3,4,5,9,2,0,3,4,5,6,7,0,8,2,5,6,8,0,5,4,1,0]
sum=0
for i in L:
  sum+=i

print(sum)

111

In [ ]:
#Average of list
numbers_list = [44.7, 5, 22.3, 7, 31.5, 1, 9.5, 61, 5.34, 68.05, 67,
21, 45, 62.12, 43, 10, 23, 65, 90, 14, 83, 62, 30.54, 21.5, 11, 56, 32, 56, 90.63, 99, 45.90, 67, 33, 53, 42, 87, 67, 59, 90, 44, 88, 12.90, 45, 30.54, 21.5, 11, 56, 32, 56, 90.63, 99, 45.90, 67]
sum=0
for i in numbers_list:
  sum+=i
print(sum)
n=len(numbers_list)
#print(n)
print(sum/n)

2480.55
46.80283018867925

In [ ]:
#Get number from user & print squares of numbers upto given number
num=int(input('Enter the number: '))
for i in range(1,num+1):
  print(i**2)

Enter the number: 10
1
4
9
16
25
36
49
64
81
100

In [ ]:
#Print hello world thrice
count = 3
while count>0:
  print('Hello World')
  count-=1

Hello World
Hello World
Hello World

In [ ]:
count=0
while count<5:
  print('*')
  count+=1

*
*
*
*
*

In [ ]:
c=0
while c<5:
  print('*',end='')
  c+=1

*****

In [ ]:
count = 0
while count<6:
  print('*'*count)
  count+=1

*
**
***
****
*****

In [ ]:
count = 5
while count > 0:
  print("*" * count)
  count -= 1

*****
****
***
**
*

In [ ]:
rows=1
while rows<=5:
  columns = 1
  while columns<=rows:
    print(columns, end=' ')
    columns+=1
  print()
  rows+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
rows=5
while rows>=0:
  columns = 1
  while columns<=rows:
    print(columns, end=' ')
    columns+=1
  print()
  rows-=1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
rows=1
while rows<=4:
  columns = 1
  while columns<=rows:
    print(columns, end=' ')
    columns+=1
  print()
  rows+=1

rows=5
while rows>=0:
  columns = 1
  while columns<=rows:
    print(columns, end=' ')
    columns+=1
  print()
  rows-=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
count = 0
while count<=5:
  print(' '*(5-count),end=' ')
  print(' *'*count)
  count+=1

      *
     * *
    * * *
   * * * *
  * * * * *

In [ ]:
count = 5
while count>=1:
  print(' '*(5-count),end=' ')
  print(' *'*count)
  count-=1

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
#factorial with while loop
fac = 1
num = int(input('Enter the number: '))
while (num):
  fac *= num
  num-=1
print(fac)

Enter the number: 5
120

In [ ]:
#Calc
while True:
  op = input('Enter the operator: ')
  a = int(input('Enter a number: '))
  b = int(input('Enter a number: '))
  if op == '+':
    print('Sum is ',str(a+b))
  elif op == '-':
    print('Difference is ',str(a-b))
  elif op == '*':
    print('Product is ',str(a*b))
  else:
    print('Invalid! Try Again.')
    break
  y = input('Would you like to try again?(yes/no)')
  if y.lower() == 'yes':
    continue
  elif y.lower() == 'no':
    break
  else:
    break

Enter the operator: +
Invalid! Try Again!

In [ ]:
#Menu
print('1.Add')
print('2.Subtract')
print('3.Multiply')
print('4.Quit')


def add():
  print('Sum is ',str(x+y))
def sub():
  print('Difference is ',str(x-y))
def prod():
  print('Product is ',str(x*y))

while True:
  o = int(input('Select your option: '))
  x = int(input('Enter a number: '))
  y = int(input('Enter a number: '))
  if o==1:
    add()
  elif o==2:
    sub()
  elif o==3:
    prod()
  else:
    print('Invalid!')
    break

1.Add
2.Subtract
3.Multiply
4.Quit
Select your option: 2
Enter a number: 100
Enter a number: 2
Difference is  98
Select your option: 5
Enter a number: 1
Enter a number: 1
Invalid!

In [ ]:
#Odd or Even
def oddeven(x):
  if x%2==0:
    print('Even')
  else:
    print('Odd')

In [ ]:
oddeven(2)
oddeven(7)
oddeven(15)
oddeven(8)

Even
Odd
Odd
Even

In [ ]:
#Higher Number out of the two
def highNum(x,y):
  if x>y:
    print(x)
  else:
    print(y)

highNum(2,3)

3

In [ ]:
#Scope of Variable
z = 10 #Global Scope
def num(z):
  z=8 #Local Variable
  print(z)
num(z)
print(z)

8
10

In [ ]:
#Square of a number (function)
def power(x):
  print(x**2)
power(2)

4

In [ ]:
#Square of a number (function)
def power(a):
  sq_num = pow(a,2)
  return sq_num

power(5)

25

In [ ]:
#Square of all list elements using a loop
Lz= [1,2,3,4,5,6,7]
def sq(L):
  for x in L:
    print(x**2)

sq(Lz)

1
4
9
16
25
36
49

In [ ]:
#Square of all list elements using single line argument
l = [1,2,3,8,9,0]
square = [x**2 for x in l]
print(square)

[1, 4, 9, 64, 81, 0]

In [ ]:
#Here are the list contaning dollar amount
dollar = [100,203,99,40,610]
#Convert the above to rupees at rate of 80.12 and find the total
rupees = 80.12
c_c = []
for d in dollar:
  c_c.append(d*rupees)
print(c_c)

[8012.0, 16264.36, 7931.88, 3204.8, 48873.200000000004]

In [ ]:
#SLA
covert = [d*rupees for d in dollar]
covert

[8012.0, 16264.36, 7931.88, 3204.8, 48873.200000000004]

In [ ]:
# For range of 0 to 100, print values that're divisble by 2 as well 5
num_L = [x for x in range(0,100) if x%2==0 if x%5==0]
num_L

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
#Stock Price
stocks = {
    'aaa':100,
    'bbb':200,
    'ccc':250,
    'ddd':50
}

st={}
for stock_name, price in stocks.items():
  if(price>100):
    price*=1.05
    print(stock_name,price)

bbb 210.0
ccc 262.5

In [ ]:
#Creating a Game
import random
secret_no = random.randint(1,100)
max_attempts = 5
attempts = 0
print('Welcome to the number game!')
while attempts<max_attempts:
  guess=int(input('Guess the secret number: '))
  if guess==secret_no:
    print('You won!')
    break
  elif guess<secret_no:
    print('Too low! Try Again!')
  else:
    print('Too high! Try Again!')
  attempts+=1
if(attempts==max_attempts):
  print('Sorry, you\'ve run out of attempts')
  print('The secret number was',secret_no)

Welcome to the number game!
Guess the secret number: 55
Too high! Try Again!
Guess the secret number: 40
Too low! Try Again!
Guess the secret number: 45
Too low! Try Again!
Guess the secret number: 50
Too low! Try Again!
Guess the secret number: 53
You won!
Sorry, you've run out of attempts
The secret number was 53

In [ ]:
#Lamba Functions
add = lambda x,y: x+y
print(add(6,2))

8

In [ ]:
sub = lambda x,y: x-y
print(sub(18,10))

mul = lambda a,b: a*b
print(mul(4,2))

8
8

In [ ]:
'''
Limitations of Lambda function:
Can only be used for simple programs
'''

'\nLimitations of Lambda function:\nCan only be used for simple programs\n'

In [ ]:
power = lambda a:a**3
print(power(2))

8

In [ ]:
#Check for even number
is_even = lambda x: x%2==0
is_even(8)

True

In [ ]:
#Convert celcius to farenheit
c_to_f = lambda c: (c*(9/5))+32
print(int(c_to_f(-13.3333)))

8